@import '../vars'

.GolMenu
  display: inline-block
  min-height: 300px
  margin: 0 1em 1em 0
  padding: 1em
  text-align: left
  vertical-align: top
  width: 300px
  .header
    margin-bottom: 1em
    a
      color: $text-primary
      text-decoration: none
    h1
      font-size: 1.75em
      margin: 0
  h3
    color: $text-dark
    font-size: 1em
    margin: 1.5em 0 0.5em 0
  button
    background-color: $button-primary
    border: none
    color: $text-dark
    font-weight: bold
    margin: 0 0.15em
    padding: 2.5px 10px
    &:hover
      background-color: $brand-accent
      color: $text-light
    &:focus
      outline: none
