@import '../vars'

.GolScreen
  display: inline-block
  min-height: 400px
  min-width: 500px
  .header
    padding: 1em
    padding-bottom: 0
    text-align: left
    h2
      color: $text-muted
      font-weight: 100
      margin: 0 0 0.5em 0
  svg
    padding: 0.5em 1em 1em 1em

.rect.dead
  fill: $bg-default

.rect.born
  fill: lighten($brand-accent, 40)

.rect.alive
  fill: $brand-accent
